@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border-color: #555651;
    --font-color: rgb(255 255 255 / 0.87);
    --accent-color: rgb(56 56 56);
    --input-color: #0284c7;

    color-scheme: light dark;
    color: #525252;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(39, 40, 34);
        color: #d3d3d3;
    }

    * {
        border-color: #434343;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px rgb(92 92 92) inset !important;
        -webkit-text-fill-color: var(--font-color) !important;
        border: 1px solid rgb(206, 206, 206) !important;
        caret-color: var(--font-color);
    }
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

:focus-visible {
    outline: 2px solid #0284c7;
}

[x-cloak] {
    display: none !important;
}

/****************************************************/
/*                                                  */
/*               query data container               */
/*                                                  */
/****************************************************/

.data-table {
    border-collapse: separate;
    border-spacing: 0;
    border-color: var(--border-color);
}

.data-table th,
.data-table td {
    border-bottom: 1px solid;
    border-color: var(--border-color);
    padding: 10px;
    max-width: 80ch;
    min-width: 15ch;
}

.data-table th {
    position: sticky;
    top: 0;
    font-size: 10px;
    text-align: start;
    background-color: rgb(47 49 41);
}

.data-table th span {
    display: inline-block;
    height: 24px;
}

.data-table td {
    vertical-align: top;
}

/****************************************************/
/*                                                  */
/*              Editor Styles Overrides             */
/*                                                  */
/****************************************************/

.ace-monokai .ace_marker-layer .ace_bracket {
    margin: 0;
    border: 1px solid rgb(255 213 59 / 70%);
    background: rgb(193 0 0 / 60%);
}

/****************************************************/
/*                                                  */
/*                HTMX Style Overides               */
/*                                                  */
/****************************************************/

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: block;
}

.htmx-request.htmx-indicator {
    display: block;
}

.htmx-indicator .indicator-mask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(124, 124, 124, 0.35);
    z-index: 10000;
}

/****************************************************/
/*                                                  */
/*                  Sortable Styles                 */
/*                                                  */
/****************************************************/

/* @media (prefers-color-scheme: light) {
    .sortable-ghost {
        background-color: #07598533;
    }
}

@media (prefers-color-scheme: dark) {
    .sortable-ghost {
        background-color: #38bdf833;
    }
} */

.sortable-fallback {
    display: none;
}

.sortable-drag {
    opacity: 1;
}

/****************************************************/
/*                                                  */
/*               Default Input Styles               */
/*                                                  */
/****************************************************/

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 500;
}

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;
    border-width: 1px;
    color: #737373;
    padding: 0.375rem 0.5rem;
}

[multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: var(--input-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: var(--input-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid #0000;
    outline-offset: 2px;
}

[multiple]:disabled,
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
select:disabled,
textarea:disabled {
    background-color: #f5f7f8;
    border-color: #e3e3e3;
    color: #939393;
    cursor: not-allowed;
}

input::placeholder,
textarea::placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

::-webkit-date-and-time-value {
    min-height: 1.5em;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
    padding-bottom: 0;
    padding-top: 0;
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23a3a3a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

[multiple] {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset;
}

[type="checkbox"],
[type="radio"] {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-origin: border-box;
    border-color: #ccc;
    border-width: 1px;
    color: var(--input-color);
    display: inline-block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

[type="checkbox"] {
    border-radius: 4px;
}

[type="radio"] {
    border-radius: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: currentColor;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid #0000;
    outline-offset: 2px;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: #0000;
}

[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

[type="radio"]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

[type="checkbox"]:checked:focus,
[type="checkbox"]:checked:hover,
[type="checkbox"]:indeterminate,
[type="radio"]:checked:focus,
[type="radio"]:checked:hover {
    background-color: currentColor;
    border-color: #0000;
}

[type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[type="checkbox"]:indeterminate:focus,
[type="checkbox"]:indeterminate:hover {
    background-color: currentColor;
    border-color: #0000;
}

[type="checkbox"]:disabled,
[type="radio"]:disabled {
    cursor: not-allowed;
}

[type="checkbox"]:disabled:checked,
[type="radio"]:disabled:checked {
    color: #939393;
}

[type="checkbox"]:disabled:not(:checked),
[type="radio"]:disabled:not(:checked) {
    background-color: #f5f7f8;
    border: #e3e3e3;
}
/* 
[type="checkbox"]:checked:disabled:focus,
[type="radio"]:checked:disabled:focus {
    outline: none;
} */

[type="file"] {
    background: unset;
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    font-size: unset;
    line-height: inherit;
    padding: 0;
}

[type="file"]:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
    [multiple],
    [type="date"],
    [type="datetime-local"],
    [type="email"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"],
    select,
    textarea {
        background-color: #363636;
        border-color: #363636;
        color: #e3e3e3;
    }

    [multiple]:focus,
    [type="date"]:focus,
    [type="datetime-local"]:focus,
    [type="email"]:focus,
    [type="month"]:focus,
    [type="number"]:focus,
    [type="password"]:focus,
    [type="search"]:focus,
    [type="tel"]:focus,
    [type="text"]:focus,
    [type="time"]:focus,
    [type="url"]:focus,
    [type="week"]:focus,
    select:focus,
    textarea:focus,
    [type="checkbox"]:focus,
    [type="radio"]:focus,
    [type="checkbox"]:active,
    [type="radio"]:active,
    label:active [type="checkbox"],
    label:active [type="radio"] {
        --tw-ring-offset-color: #262626;
    }

    [multiple]:disabled,
    [type="date"]:disabled,
    [type="datetime-local"]:disabled,
    [type="email"]:disabled,
    [type="month"]:disabled,
    [type="number"]:disabled,
    [type="password"]:disabled,
    [type="search"]:disabled,
    [type="tel"]:disabled,
    [type="text"]:disabled,
    [type="time"]:disabled,
    [type="url"]:disabled,
    [type="week"]:disabled,
    select:disabled,
    textarea:disabled {
        background-color: #3e3e3e;
        border-color: #3e3e3e;
        color: #808080;
    }

    input::placeholder,
    textarea::placeholder {
        color: #a3a3a3d4 !important;
    }

    [type="checkbox"],
    [type="radio"] {
        background-color: #363636;
        border-color: #4d4d4d;
    }

    [type="checkbox"]:disabled:checked,
    [type="radio"]:disabled:checked {
        color: #737373;
    }

    [type="checkbox"]:disabled:not(:checked),
    [type="radio"]:disabled:not(:checked) {
        background-color: #363636;
        border-color: #525252;
    }
}
