{{ define "title" }} Form Designer {{ end }} {{ define "body" }}
<script>
    const defaults = {
        text: {
            type: "text",
            label: "Text Input",
            placeholder: "",
            minLenth: 0,
            maxLength: 2000,
            defaultValue: "",
            layout: "global",
            description: "",
            required: false,
            readonly: false,
            hidden: false,
        },
    };

    document.addEventListener("alpine:init", function () {
        Alpine.data("formData", () => ({
            formName: "Test Form",
            formAcronym: "TF",
            currentFieldIndex: 1,
            fieldData: {},
            setions: [],

            editData: {},
            editModalOpen: false,

            globalSettings: {
                fieldLayout: "block",
                sectionLayout: "single",
            },

            getId() {
                let id = this.formAcronym + "-" + this.currentFieldIndex.toString().padStart(5, "0");
                this.currentFieldIndex++;
                return id;
            },
            initField(type) {
                const id = this.getId();
                const data = { id, ...defaults[type] };
                this.fieldData[id] = data;
                return this.fieldData[id];
            },
            editFieldData(data) {
                this.editData = data;
                // console.log(data);
                switch (data.type) {
                    case "text":
                        this.editModalOpen = true;
                        break;
                    default:
                        console.log("unsupported field type: " + fieldData.type);
                }
            },
            setFieldData(data) {
                this.fieldData[data.id] = { ...data };
                this.editModalOpen = false;
            },
        }));
    });
</script>

<main x-data="formData">
    <div class="pt-[53px]">
        <div class="flex h-full w-full">
            <div
                class="sticky top-[53px] flex flex-col w-48 xl:w-80 h-[calc(100vh-53px)] font-semibold overflow-hidden select-none border-r border-neutral-300 dark:bg-card-dark dark:border-aux-dark"
            >
                <section class="p-4 text-sm">
                    <h3 class="mb-4 text-[#828282] dark:text-[#c3c3c3]">Fields</h3>
                    <div
                        id="action-element-container"
                        class="grid xl:grid-cols-[1fr_1fr] gap-3 text-indigo-900/70 dark:text-white/70"
                    >
                        <div
                            class="flex gap-4 px-4 py-2 items-center rounded origin-center transition-all duration-100 bg-white border border-neutral-200/65 dark:bg-aux-dark dark:border-none hover:[scale:101%] hover:[translate:0_-2px] hover:[box-shadow:0_2px_#00000026] hover:text-indigo-900 hover:dark:text-white"
                            dd-template="Text"
                            draggable="true"
                        >
                            <svg viewBox="0 0 16 15" class="w-5 min-w-5 fill-current">
                                <path
                                    d="M1.226 10.88H0l2.056-6.26h1.42l2.047 6.26h-1.29l-.48-1.61H1.707l-.48 1.61ZM2.76 5.818h-.054l-.75 2.532H3.51zm3.217 5.062V4.62h2.56c1.09 0 1.808.582 1.808 1.54 0 .762-.444 1.22-1.05 1.372v.055c.736.074 1.365.587 1.365 1.528 0 1.119-.89 1.766-2.133 1.766zM7.18 5.55v1.675h.8c.812 0 1.171-.308 1.171-.853 0-.51-.328-.822-.898-.822zm0 2.537V9.95h.903c.951 0 1.342-.312 1.342-.909 0-.591-.382-.954-1.095-.954zm5.089-.711v.775c0 1.156.49 1.803 1.347 1.803.705 0 1.163-.454 1.212-1.096H16v.12C15.942 10.173 14.95 11 13.607 11c-1.648 0-2.573-1.073-2.573-2.849v-.78c0-1.775.934-2.871 2.573-2.871 1.347 0 2.34.849 2.393 2.087v.115h-1.172c-.05-.665-.516-1.156-1.212-1.156-.849 0-1.347.67-1.347 1.83"
                                />
                            </svg>
                            <span>Text</span>
                        </div>
                        <div
                            class="flex gap-4 px-4 py-2 items-center rounded origin-center transition-all duration-100 bg-white border border-neutral-200/65 dark:bg-aux-dark dark:border-none hover:[scale:101%] hover:[translate:0_-2px] hover:[box-shadow:0_2px_#00000026] hover:text-indigo-900 hover:dark:text-white"
                            dd-template="Number"
                            draggable="true"
                        >
                            <svg viewBox="0 0 16 15" class="w-5 min-w-5 fill-current">
                                <path
                                    d="M2.873 11.297V4.142H1.699L0 5.379v1.137l1.64-1.18h.06v5.961zm3.213-5.09v-.063c0-.618.44-1.169 1.196-1.169.676 0 1.174.44 1.174 1.106 0 .624-.42 1.101-.807 1.526L4.99 10.553v.744h4.78v-.99H6.643v-.069L8.41 8.252c.65-.724 1.237-1.332 1.237-2.27C9.646 4.849 8.723 4 7.308 4c-1.573 0-2.36 1.064-2.36 2.15v.057zm6.559 1.883h.786c.823 0 1.374.481 1.379 1.179.01.707-.55 1.216-1.421 1.21-.77-.005-1.326-.419-1.379-.953h-1.095c.042 1.053.938 1.918 2.464 1.918 1.478 0 2.642-.839 2.62-2.144-.02-1.143-.922-1.651-1.551-1.714v-.063c.535-.09 1.347-.66 1.326-1.678-.026-1.053-.933-1.855-2.359-1.845-1.5.005-2.317.88-2.348 1.898h1.116c.032-.498.498-.944 1.206-.944.703 0 1.206.435 1.206 1.07.005.64-.504 1.106-1.2 1.106h-.75z"
                                />
                            </svg>
                            <span>Number</span>
                        </div>
                        <div
                            class="flex gap-4 px-4 py-2 items-center rounded origin-center transition-all duration-100 bg-white border border-neutral-200/65 dark:bg-aux-dark dark:border-none hover:[scale:101%] hover:[translate:0_-2px] hover:[box-shadow:0_2px_#00000026] hover:text-indigo-900 hover:dark:text-white"
                            dd-template="Select"
                            draggable="true"
                        >
                            <svg viewBox="0 0 16 15" class="w-5 min-w-5 fill-current">
                                <path
                                    fill-rule="evenodd"
                                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                                />
                            </svg>
                            <span>Select</span>
                        </div>
                        <div
                            class="flex gap-4 px-4 py-2 items-center rounded origin-center transition-all duration-100 bg-white border border-neutral-200/65 dark:bg-aux-dark dark:border-none hover:[scale:101%] hover:[translate:0_-2px] hover:[box-shadow:0_2px_#00000026] hover:text-indigo-900 hover:dark:text-white"
                            dd-template="Date"
                            draggable="true"
                        >
                            <svg viewBox="-1 -1 24 24" class="w-5 min-w-5 fill-current">
                                <path
                                    d="m4 4h3l0-1c0-1 1-1 1-1 1 0 1 1 1 1l0 1 4 0 0-1c0-1 1-1 1-1 1 0 1 1 1 1l0 1 3 0c1 0 2 1 2 2l0 12c0 1-1 2-2 2l-14 0c-1 0-2-1-2-2l0-12c0-1 1-2 2-2m1 5 12 0c1 0 1-1 1-1l0-1c0 0 0-1-1-1l-12 0c-1 0-1 1-1 1l0 1c0 0 0 1 1 1m0 9 12 0c1 0 1-1 1-1l0-5c0 0 0-1-1-1l-12 0c-1 0-1 1-1 1l0 5c0 0 0 1 1 1"
                                />
                            </svg>
                            <span>Date</span>
                        </div>
                    </div>
                </section>
                <section class="p-4 text-sm">
                    <h3 class="mb-4 text-[#828282] dark:text-[#c3c3c3]">Components</h3>
                    <div></div>
                </section>
            </div>
            <div class="grow grid grid-rows-[max-content_1fr]">
                <div
                    class="sticky top-[53px] grid grid-cols-[1fr_3fr_1fr] py-3 z-10 items-center border-b border-neutral-300 dark:bg-card-dark dark:border-aux-dark"
                >
                    <div></div>
                    <div class="flex gap-2 justify-self-center">
                        <div id="form" class="py-1 px-8">Form</div>
                        <div id="Process" class="py-1 px-8">Work Flow</div>
                        <div id="form" class="py-1 px-8">Form Rules</div>
                    </div>
                    <div class="justify-self-end">
                        <button
                            id="add-section-button"
                            class="text-sm py-1 px-2 rounded font-semibold text-sky-800/80 hover:text-sky-800 dark:text-sky-400/80 dark:hover:text-sky-400"
                        >
                            +Add Section
                        </button>
                    </div>
                </div>
                <div class="p-4 overflow-auto w-full bg-[#f5f7f8] dark:bg-inherit">
                    <div id="form_container" class="@container/form relative grid gap-4 max-w-[75rem] mx-auto"></div>
                </div>
            </div>
            <div
                class="sticky top-[53px] flex flex-col w-[max(24rem,20%)] min-w-48 h-[calc(100vh-53px)] font-semibold overflow-hidden select-none border-l border-neutral-300 dark:bg-card-dark dark:border-aux-dark"
            >
                <details
                    class="border-b border-neutral-300 dark:border-aux-dark open:h-full [&_summary_div]:open:rotate-180"
                >
                    <summary class="flex p-4 justify-between transition-transform">
                        Form Details
                        <div class="w-6 h-6 flex items-center justify-center scale-y-50 select-none">▼</div>
                    </summary>
                    <div class="p-4 flex gap-8 justify-center">
                        <label class="flex items-center gap-3"><input type="checkbox" />Single Page</label>
                        <label class="flex items-center gap-3"><input type="checkbox" />Tabbed</label>
                    </div>
                </details>
                <details
                    class="border-b border-neutral-300 dark:border-aux-dark open:h-full [&_summary_div]:open:rotate-180"
                >
                    <summary class="flex p-4 justify-between transition-transform">
                        Details
                        <div class="w-6 h-6 flex items-center justify-center scale-y-50 select-none">▼</div>
                    </summary>
                    <div id="field-details" class="px-8"></div>
                </details>
            </div>
        </div>
    </div>
    <div
        x-data="editData"
        x-show="editModalOpen"
        x-cloak
        x-transition.opacity
        class="fixed inset-0 z-50 flex items-center justify-center bg-neutral-500/40 dark:bg-base-dark/40"
    >
        <div
            x-show="editModalOpen"
            x-transition
            class="flex flex-col w-3/4 min-w-96 max-w-2xl h-3/4 items-start text-sm overflow-hidden rounded-sm shadow-xl bg-white dark:bg-card-dark"
        >
            <div class="relative flex items-center justify-center w-full p-2 dark:bg-[#3c3c3c]">
                <h1 class="text-center text-lg text-semibold">Field Configuration</h1>
                <button @click="editModalOpen = false;" class="absolute right-3 p-2 leading-3 font-bold cursor-pointer">
                    ✕
                </button>
            </div>
            <div
                class="flex gap-4 h-full w-full overflow-hidden border-y border-neutral-200 bg-[#f5f7f8] dark:border-[#3c3c3c] dark:bg-card-dark"
            >
                <div class="flex flex-col gap-6 py-4 px-8 basis-1/3 border-r border-neutral-200 dark:border-aux-dark">
                    <div
                        class="grid justify-center w-28 p-5 mx-auto rounded text-[#92949d] border bg-white border-neutral-200 dark:bg-[#3c3c3c] dark:border-aux-dark"
                    >
                        <svg viewBox="0 3 16 10" class="w-12 fill-current">
                            <path
                                d="M1.226 10.88H0l2.056-6.26h1.42l2.047 6.26h-1.29l-.48-1.61H1.707l-.48 1.61ZM2.76 5.818h-.054l-.75 2.532H3.51zm3.217 5.062V4.62h2.56c1.09 0 1.808.582 1.808 1.54 0 .762-.444 1.22-1.05 1.372v.055c.736.074 1.365.587 1.365 1.528 0 1.119-.89 1.766-2.133 1.766zM7.18 5.55v1.675h.8c.812 0 1.171-.308 1.171-.853 0-.51-.328-.822-.898-.822zm0 2.537V9.95h.903c.951 0 1.342-.312 1.342-.909 0-.591-.382-.954-1.095-.954zm5.089-.711v.775c0 1.156.49 1.803 1.347 1.803.705 0 1.163-.454 1.212-1.096H16v.12C15.942 10.173 14.95 11 13.607 11c-1.648 0-2.573-1.073-2.573-2.849v-.78c0-1.775.934-2.871 2.573-2.871 1.347 0 2.34.849 2.393 2.087v.115h-1.172c-.05-.665-.516-1.156-1.212-1.156-.849 0-1.347.67-1.347 1.83"
                            />
                        </svg>
                        <span class="font-semibold text-center">Text</span>
                    </div>
                    <div class="grid gap-3">
                        <label for="required" class="flex items-center gap-3">
                            <input x-model="editData.required" type="checkbox" name="required" id="required" />Required
                        </label>
                        <label for="readonly" class="flex items-center gap-3">
                            <input x-model="editData.readonly" type="checkbox" name="readonly" id="readonly" />Read Only
                        </label>
                        <label for="hidden" class="flex items-center gap-3">
                            <input x-model="editData.hidden" type="checkbox" name="hidden" id="hidden" />Hidden
                        </label>
                    </div>
                </div>
                <div class="grow flex flex-col p-4 gap-4 overflow-y-auto [scrollbar-gutter:stable]">
                    <div class="grid gap-1">
                        <label for="label">ID</label>
                        <input :value="editData.id" type="text" name="id" id="id" disabled />
                    </div>
                    <div class="grid gap-1">
                        <label for="label">Label</label>
                        <input x-model="editData.label" type="text" name="label" id="label" placeholder="Label..." />
                    </div>
                    <div class="grid gap-1">
                        <label for="placeholder">Placeholder</label>
                        <input
                            x-model="editData.placeholder"
                            type="text"
                            name="placeholder"
                            id="placeholder"
                            placeholder="Placeholder..."
                        />
                    </div>
                    <div class="grid gap-1">
                        <label for="default">Default</label>
                        <input
                            x-model="editData.defaultValue"
                            type="text"
                            name="default"
                            id="default"
                            placeholder="Default..."
                        />
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid gap-1">
                            <label for="minlength">Minimum Length</label>
                            <input
                                x-model="editData.minLenth"
                                type="number"
                                name="minlength"
                                id="minlength"
                                placeholder="Min length..."
                            />
                        </div>
                        <div class="grid gap-1">
                            <label for="maxlength">Minimum Length</label>
                            <input
                                x-model="editData.maxLength"
                                type="number"
                                name="maxlength"
                                id="maxlength"
                                placeholder="Max length..."
                            />
                        </div>
                    </div>
                    <div class="grid gap-1">
                        <label for="default">Layout</label>
                        <select x-model="editData.layout" type="text" name="layout" id="layout">
                            <option value="global">Form Setting</option>
                            <option value="inline">Inline</option>
                            <option value="block">Block</option>
                        </select>
                    </div>
                    <div class="grid gap-1">
                        <label for="description">Description</label>
                        <textarea
                            x-model="editData.description"
                            rows="3"
                            name="description"
                            id="description"
                            placeholder="Description..."
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="flex gap-4 p-4 w-full justify-end dark:bg-[#3c3c3c]">
                <div class="grid grid-cols-2 gap-4 w-2/5">
                    <button
                        @click="editModalOpen = false;"
                        class="p-2 rounded border transition border-neutral-200 text-neutral-600 hover:bg-neutral-100 dark:text-white/80 dark:bg-aux-dark dark:border-none dark:hover:text-white/90 dark:hover:bg-aux-dark/70"
                    >
                        Cancel
                    </button>
                    <button
                        @click="setFieldData(editData)"
                        class="p-2 rounded font-semibold tracking-wide transition text-white bg-sky-500 hover:bg-sky-600 dark:bg-opacity-80 dark:hover:bg-opacity-70"
                    >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{{ template "text_field" }} {{ template "number_field" }} {{ template "select_field" }} {{ template "section" }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@alpinejs/anchor@3.x.x/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="/js/form_designer.js" type="text/javascript" charset="utf-8"></script>
{{ end }} {{ define "field_icons" }}
<div @pointerdown.stop class="flex gap-1 relative text-neutral-500 dark:text-white/60">
    <div>
        <button
            @click="editFieldData($data.data)"
            class="w-6 h-6 p-1 cursor-pointer transition rounded hover:text-emerald-800 hover:bg-emerald-800/20 dark:hover:text-emerald-400 dark:hover:bg-emerald-400/20"
        >
            <svg
                viewBox="0 0 24 24"
                class="fill-none stroke-current stroke-[1.5px] [stroke-linecap:round] [stroke-linejoin:round]"
            >
                <path
                    d="M16.8617 4.48667L18.5492 2.79917C19.2814 2.06694 20.4686 2.06694 21.2008 2.79917C21.9331 3.53141 21.9331 4.71859 21.2008 5.45083L10.5822 16.0695C10.0535 16.5981 9.40144 16.9868 8.68489 17.2002L6 18L6.79978 15.3151C7.01323 14.5986 7.40185 13.9465 7.93052 13.4178L16.8617 4.48667ZM16.8617 4.48667L19.5 7.12499M18 14V18.75C18 19.9926 16.9926 21 15.75 21H5.25C4.00736 21 3 19.9926 3 18.75V8.24999C3 7.00735 4.00736 5.99999 5.25 5.99999H10"
                />
            </svg>
        </button>
    </div>
    <div>
        <button
            class="w-6 h-6 p-1 cursor-pointer transition rounded hover:text-indigo-800 hover:bg-indigo-800/20 dark:hover:text-indigo-400 dark:hover:bg-indigo-400/20"
        >
            <svg viewBox="0 0 15 15" class="fill-current [fill-rule:evenodd] [clip-rule:evenodd]">
                <path
                    d="M1 9.50006C1 10.3285 1.67157 11.0001 2.5 11.0001H4L4 10.0001H2.5C2.22386 10.0001 2 9.7762 2 9.50006L2 2.50006C2 2.22392 2.22386 2.00006 2.5 2.00006L9.5 2.00006C9.77614 2.00006 10 2.22392 10 2.50006V4.00002H5.5C4.67158 4.00002 4 4.67159 4 5.50002V12.5C4 13.3284 4.67158 14 5.5 14H12.5C13.3284 14 14 13.3284 14 12.5V5.50002C14 4.67159 13.3284 4.00002 12.5 4.00002H11V2.50006C11 1.67163 10.3284 1.00006 9.5 1.00006H2.5C1.67157 1.00006 1 1.67163 1 2.50006V9.50006ZM5 5.50002C5 5.22388 5.22386 5.00002 5.5 5.00002H12.5C12.7761 5.00002 13 5.22388 13 5.50002V12.5C13 12.7762 12.7761 13 12.5 13H5.5C5.22386 13 5 12.7762 5 12.5V5.50002Z"
                />
            </svg>
        </button>
    </div>
    <div x-data="{ deleteDialogOpen: false }">
        <button
            class="w-6 h-6 p-1 cursor-pointer transition relative rounded hover:text-rose-800 hover:bg-rose-800/20 dark:hover:text-rose-400 dark:hover:bg-rose-400/20"
            @click="deleteDialogOpen = true"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" class="fill-current [fill-rule:evenodd]">
                <path
                    d="M799.855 166.312c.023.007.043.018.084.059l57.69 57.69c.041.041.052.06.059.084a.118.118 0 0 1 0 .069c-.007.023-.018.042-.059.083L569.926 512l287.703 287.703c.041.04.052.06.059.083a.118.118 0 0 1 0 .07c-.007.022-.018.042-.059.083l-57.69 57.69c-.041.041-.06.052-.084.059a.118.118 0 0 1-.069 0c-.023-.007-.042-.018-.083-.059L512 569.926 224.297 857.629c-.04.041-.06.052-.083.059a.118.118 0 0 1-.07 0c-.022-.007-.042-.018-.083-.059l-57.69-57.69c-.041-.041-.052-.06-.059-.084a.118.118 0 0 1 0-.069c.007-.023.018-.042.059-.083L454.073 512 166.371 224.297c-.041-.04-.052-.06-.059-.083a.118.118 0 0 1 0-.07c.007-.022.018-.042.059-.083l57.69-57.69c.041-.041.06-.052.084-.059a.118.118 0 0 1 .069 0c.023.007.042.018.083.059L512 454.073l287.703-287.702c.04-.041.06-.052.083-.059a.118.118 0 0 1 .07 0Z"
                />
            </svg>
        </button>
        <div
            x-show="deleteDialogOpen"
            x-transition
            class="grid gap-4 items-center w-max p-4 absolute top-0 -right-0.5 z-50 text-sm shadow-md rounded-md bg-white border border-neutral-200 dark:bg-aux-dark dark:border-aux-dark"
            @click.outside="deleteDialogOpen = false"
            @keyup.escape.prevent="deleteDialogOpen = false"
        >
            <h1>Are you sure you want to delete this field?</h1>
            <div class="flex gap-2 justify-self-end">
                <button
                    @click.self="deleteDialogOpen = false;"
                    class="px-3 py-1.5 rounded transition-all text-white bg-rose-500 hover:bg-rose-600 dark:bg-opacity-80 dark:hover:bg-opacity-70"
                >
                    Delete
                </button>
                <button
                    @click="deleteDialogOpen = false;"
                    class="px-3 py-1.5 rounded border transition-all border-neutral-200 text-neutral-600 hover:bg-neutral-100 dark:text-white/80 dark:bg-aux-dark dark:border-[#555] dark:hover:text-white/90 dark:hover:bg-[#3e3e3e]"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }} {{ define "text_field" }}
<template id="Text">
    <div @click.stop x-data="{ data: initField('text') }" :id="data.id" form-field="text" class="p-2.5 rounded">
        <div class="flex items-center justify-between mb-1 text-xs text-neutral-500 dark:text-white/60">
            <div class="font-mono flex gap-3">
                <span class="font-bold italic cursor-default select-none">Text Field</span>
                <span
                    x-show="data.hidden || data.readonly"
                    x-text="data.hidden ? '[Hidden]' : data.readonly ? '[Readonly]' : ''"
                    class="text-neutral-400 dark:text-white/40"
                ></span>
            </div>
            {{ template "field_icons" }}
        </div>
        <div
            :class="{ 'opacity-50': data.hidden, 'grid-cols-[3fr_4fr]': data.layout === 'inline'  }"
            class="grid gap-1 w-full items-center"
        >
            <div class="flex gap-1 items-center">
                <label x-text="data.label" :for="data.id" class="font-medium select-none" dd-label="Text Field"></label>
                <span x-show="data.required" class="leading-4 font-semibold text-rose-500">*</span>
            </div>
            <input
                :id="data.id"
                :value="data.defaultValue ? data.defaultValue : ''"
                :placeholder="data.placeholder"
                :readonly="data.readonly || data.hidden"
                @change="$el.value = data.defaultValue ? data.defaultValue : ''"
                type="text"
            />
        </div>
    </div>
</template>
<!-- <template id="Text">
    <div @click.stop x-data="initNewField()" x-init="" :id="id" form-field="text" class="p-2.5 rounded">
        <div class="flex items-center justify-between mb-1 text-xs text-neutral-500 dark:text-white/60">
            <div class="font-mono flex gap-3">
                <span class="font-bold italic cursor-default select-none">Text Field</span>
                <span
                    x-show="fieldData[id].hidden || fieldData[id].readonly"
                    x-text="fieldData[id].hidden ? '[Hidden]' : fieldData[id].readonly ? '[Readonly]' : ''"
                    class="text-neutral-400 dark:text-white/40"
                ></span>
            </div>
            {{ template "field_icons" }}
        </div>
        <div
            :class="{ 'opacity-50': fieldData[id].hidden, 'grid-cols-[3fr_4fr]': fieldData[id].layout === 'inline'  }"
            class="grid gap-1 w-full items-center"
        >
            <div class="flex gap-1 items-center">
                <label
                    x-text="fieldData[id].label"
                    :for="id"
                    class="font-medium select-none"
                    dd-label="Text Field"
                ></label>
                <span x-show="fieldData[id].required" class="leading-4 font-semibold text-rose-500">*</span>
            </div>
            <input
                :id="id"
                :value="fieldData[id].default ? fieldData[id].default : ''"
                :placeholder="fieldData[id].placeholder"
                :readonly="fieldData[id].readonly || fieldData[id].hidden"
                @change="$el.value = fieldData[id].default ? fieldData[id].default : ''"
                type="text"
            />
        </div>
    </div>
</template> -->
{{ end }} {{ define "number_field" }}
<template id="Number">
    <div form-field="number" class="p-2.5 rounded">
        <div class="flex items-center justify-between mb-1 text-xs text-black/50 dark:text-white/50">
            <span class="font-mono font-bold italic cursor-default select-none">Number Field</span>
            {{ template "field_icons" }}
        </div>
        <div class="grid @[22rem]/section:grid-cols-[3fr_4fr] w-full items-center">
            <label class="font-medium select-none" for="text" dd-label="Number Field" onclick="event.preventDefault();">
                Number <span class="text-rose-500 font-semibold">*</span>
            </label>
            <input
                class="p-1.5 rounded cursor-default border-neutral-400 dark:bg-aux-dark"
                type="number"
                name="number"
                id="number"
                onmousedown="event.preventDefault();"
                onmouseup="event.preventDefault();"
            />
        </div>
    </div>
</template>
{{ end }} {{ define "select_field" }}
<template id="Select">
    <div form-field="select" class="p-2.5 rounded">
        <div class="flex items-center justify-between mb-1 text-xs text-black/50 dark:text-white/50">
            <span class="font-mono font-bold italic cursor-default select-none">Select Field</span>
            {{ template "field_icons" }}
        </div>
        <div class="grid @[22rem]/section:grid-cols-[3fr_4fr] w-full items-center">
            <label class="font-medium select-none" for="text" dd-label="Select Field" onclick="event.preventDefault();">
                Select <span class="text-rose-500 font-semibold">*</span>
            </label>
            <select
                class="p-1.5 rounded cursor-default border-neutral-400 dark:bg-aux-dark"
                name="select"
                id="select"
                onmousedown="event.preventDefault();"
                onmouseup="event.preventDefault();"
            ></select>
        </div>
    </div>
</template>
{{ end }} {{ define "section" }}
<template id="section-template">
    <div
        section-container
        class="grid gap-3 p-3 rounded-md ring-1 ring-gray-900/5 shadow-md bg-white dark:bg-card-dark"
    >
        <div class="flex items-center justify-between mb-1">
            <h2 data-section-title>Section 1</h2>
            {{ template "field_icons" }}
        </div>
        <div class="grid grid-cols-1 min-h-28 @[35rem]/form:grid-cols-2 gap-4">
            <div
                class="@container/section grid auto-rows-max min-w-64 p-3 gap-3 border border-dashed border-yellow-600 rounded-md"
                data-section
            ></div>
            <div
                class="@container/section grid auto-rows-max min-w-64 p-3 gap-3 border border-dashed border-yellow-600 rounded-md"
                data-section
            ></div>
        </div>
    </div>
</template>
{{ end }}
