@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border-color: #555651;
    --font-color: rgb(255 255 255 / 0.87);
    --accent-color: rgb(56 56 56);
    --bg-color: rgb(39, 40, 34);

    color-scheme: light dark;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input:focus-visible {
    outline: none;
    border-color: #ffffff66 !important;
}

.title-buttons button {
    padding: 5px 10px;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: 0.625rem;
    font-weight: bold;
    font-family: inherit;
}

.form-group input {
    all: initial;
    background: rgb(64 64 64);
    color: var(--font-color);
    border: 1px solid rgb(92 92 92);
    border-radius: 4px;
    padding: 7px;
    font-size: inherit;
    line-height: 1.4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* CHECK ON THIS??? */
.check-form-group {
    display: flex;
    gap: 10px;
}
/* ^^^CHECK ON THIS??? */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(92 92 92) inset !important;
    -webkit-text-fill-color: var(--font-color) !important;
    border: 1px solid rgb(206, 206, 206) !important;
    caret-color: var(--font-color);
}

span.warning {
    color: #ff6868;
    font-size: 14px;
}

/****************************************************/
/*                                                  */
/*               query data container               */
/*                                                  */
/****************************************************/
.data {
    padding: 0 0 20px;
    overflow: auto;
    height: 100%;
}

.data-table {
    border-collapse: separate;
    border-spacing: 0;
    border-color: var(--border-color);
}

.data-table th,
.data-table td {
    border-bottom: 1px solid;
    border-color: var(--border-color);
    padding: 10px;
    max-width: 80ch;
    min-width: 15ch;
}

.data-table th {
    position: sticky;
    top: 0;
    font-size: 10px;
    text-align: start;
    background-color: rgb(47 49 41);
}

.data-table th span {
    display: inline-block;
    height: 24px;
}

.data-table td {
    vertical-align: top;
}

/****************************************************/
/*                                                  */
/*              query editor container              */
/*                                                  */
/****************************************************/
.query-container {
    display: flex;
    flex-direction: column;
}

.editor-container {
    flex-grow: 1;
    position: relative;
}

#editor {
    height: 100%;
}

.open-query-selector {
    position: absolute;
    inset: 0;
    background: var(--bg-color);
    z-index: 100;
    display: none;
}

/****************************************************/
/*                                                  */
/*                 save query popup                 */
/*                                                  */
/****************************************************/
.save-popup {
    position: absolute;
    background: rgba(124, 124, 124, 0.35);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.save-popup-container {
    display: flex;
    flex-direction: column;
    background: rgb(39, 40, 34);
    width: clamp(100ch, 50%, 800px);
    margin: auto;
    position: relative;
    top: 50%;
    translate: 0 -50%;
    height: 700px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px solid var(--accent-color);
}

.save-popup-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 10px;
}

.save-popup-header .close {
    font-weight: bold;
    cursor: pointer;
    margin-right: -25px;
    margin-top: -15px;
    background: none;
    border: none;
    height: 24px;
    width: 24px;
}

.save-popup-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.save-popup-fields {
    padding: 15px 40px 20px;
}

.save-popup-query {
    flex-grow: 1;
    border-block: 1px solid var(--accent-color);
}

.save-popup-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid var(--accent-color);
}

.save-popup-footer-buttons {
    display: flex;
    gap: 20px;
}

.save-popup-footer-buttons button {
    background: none;
    border: 1px solid var(--font-color);
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}

/****************************************************/
/*                                                  */
/*          save query selector (NOT USED)          */
/*                                                  */
/****************************************************/
.saved-query-selector {
    display: flex;
    height: 45px;
    margin-top: 0px;
    border-bottom: 1px solid var(--border-color);
}

.saved-query-selector input {
    flex: 1;
    padding: 10px 12px;
    border-bottom-color: #000;
}

.saved-query-selector span {
    flex: 1;
    padding: 10px 12px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.4px;
}

.saved-query-selector button {
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
}

/****************************************************/
/*                                                  */
/*              Editor Styles Overrides             */
/*                                                  */
/****************************************************/
.ace-monokai .ace_marker-layer .ace_bracket {
    margin: 0;
    border: 1px solid rgb(255 213 59 / 70%);
    background: rgb(193 0 0 / 60%);
}

/****************************************************/
/*                                                  */
/*                HTMX Style Overides               */
/*                                                  */
/****************************************************/

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: block;
}

.htmx-request.htmx-indicator {
    display: block;
}

.htmx-indicator .indicator-mask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(124, 124, 124, 0.35);
    z-index: 10000;
}
