{{ define "date_field" }}
<script>
    // type CalendarProps = {
    //   value: Date;
    //   className?: string;
    //   calendarType?: "month" | "week";
    //   scrollable?: boolean;
    //   onDateChange: (date: Date) => void;
    // };

    const [dates, setDates] = useState(getCalendarDays(value, calendarType));
    const [showMonthYearPanel, setShowMonthYearPanel] = useState(false);
    const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    const months = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
    const [years] = useState(Array.from({ length: 8 }).map((_, i) => year - 3 + i));

    const handleDateChange = (date) => {
        const newVal = new Date(date.year, date.month, date.day);

        setYear(date.year);
        setMonth(date.month);
        setDay(date.day);
        setDates(getCalendarDays(newVal, calendarType));
        setInternalDate(newVal);
        onDateChange(newVal);
    };

    const getNextWeek = () => handleDateChange({ year, month, day: day + 7 });
    const getPrevWeek = () => handleDateChange({ year, month, day: day - 7 });
    const getNextMonth = () => handleDateChange({ year, month: month + 1, day });
    const getPrevMonth = () => handleDateChange({ year, month: month - 1, day });

    const setToday = () => {
        const today = new Date();
        handleDateChange({
            day: today.getDate(),
            month: today.getMonth(),
            year: today.getFullYear(),
        });
    };

    const changeMonthOnWheel = (e) => {
        if (e.deltaY > 0) {
            calendarType === "week" ? getNextWeek() : getNextMonth();
        } else if (e.deltaY < 0) {
            calendarType === "week" ? getPrevWeek() : getPrevMonth();
        }
    };
</script>

<div className="relative flex w-full flex-col items-center rounded border text-xs">
    <div className="flex w-full items-center justify-between px-4 pt-4 text-neutral-500 dark:text-white/75">
        <button
            className="flex items-center gap-1 text-sm font-bold hover:text-neutral-800 dark:hover:text-white"
            onClick="() => setShowMonthYearPanel((prev) => !prev)"
            x-text="internalDate.toLocaleString('default', { year: 'numeric', month: 'long' })"
        >
            <HiChevronDown />
        </button>
        <div className="flex gap-1">
            <button
                className="rounded-full p-1 hover:text-neutral-800 dark:hover:text-white"
                onClick="() => calendarType === 'week' ? getPrevWeek() : getPrevMonth()"
            >
                <HiChevronLeft className="h-5 w-5" />
            </button>
            <button
                className="rounded-full border border-sky-800 bg-sky-800/20 py-1 px-4 font-bold text-sky-800 transition hover:brightness-125"
                onClick="() => setToday()"
            >
                Today
            </button>
            <button
                className="rounded-full p-1 hover:text-neutral-800 dark:hover:text-white"
                onClick="() => calendarType === 'week' ? getNextWeek() : getNextMonth()"
            >
                <HiChevronRight className="h-5 w-5" />
            </button>
        </div>
    </div>

    <div
        className="grid w-full grid-cols-7 items-center justify-items-center gap-2 justify-self-center p-4"
        onWheel="scrollable ? changeMonthOnWheel : () => {}"
    >
        <template x-for="day in days">
            <span
                className="w-full text-center font-bold"
                x-text="day"
            ></span>
        </template>
        <template
            x-for="date in dates"
            :key="`${date.day}/${date.month + 1}/${date.year}`"
        >
            <button
                className="aspect-square w-full rounded-full"
                :class="{
                    'text-[#333]/50 dark:text-white/40': date.month !== month && calendarType === 'month',
                    'bg-sky-800/20 text-sky-800 dark:bg-sky-400/20 dark:text-sky-400': date.day === day && date.month === month,
                    'hover:bg-neutral-200 focus:bg-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-white': date.day === day && date.month === month
                }"
                onClick="() => handleDateChange(date)"
                :disabled="date.month === month && date.day === day"
                x-text="date.day"
            ></button>
        </template>
    </div>

    <div
        x-show="showMonthYearPanel"
        className="absolute z-[100] flex h-max w-full flex-col border border-inherit bg-white shadow-lg dark:bg-neutral-800"
    >
        <div className="grid w-full grid-cols-4 justify-items-center gap-3 border-b p-4 dark:border-neutral-700">
            <template
                x-for="month in months"
                :key="month"
            >
                <button
                    className="aspect-[2/1] w-full rounded text-center uppercase"
                    :classname="{
                        'bg-sky-800/20 font-bold text-sky-800 dark:bg-sky-400/20 dark:text-sky-400': m === month,
                        'hover:bg-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-white': m !== month
                    }"
                    onClick="() => setMonth(m)"
                    onDoubleClick="() => {
                        setShowMonthYearPanel((prev) => !prev);
                        handleDateChange({ year, month: m, day });
                    }"
                    x-text="new Date(year, m, day).toLocaleString('default', { month: 'short' })"
                ></button>
            </template>
        </div>
        <div className="grid w-full grid-cols-4 justify-items-center gap-3 p-4">
            <template
                x-for="year in years"
                :key="year"
            >
                <button
                    className="aspect-[2/1] w-full rounded text-center uppercase"
                    :class="{
                        'bg-sky-800/20 font-bold text-sky-800 dark:bg-sky-400/20 dark:text-sky-400': y === year,
                        'hover:bg-neutral-200 dark:hover:bg-neutral-700 dark:hover:text-white': y !== year
                    }"
                    onClick="() => setYear(y)"
                    onDoubleClick="() => {
                        setShowMonthYearPanel((prev) => !prev);
                        handleDateChange({ year: y, month, day });
                    }"
                    x-text="year"
                ></button>
            </template>
        </div>
        <div className="mt-auto flex h-12 w-full divide-x border-t dark:divide-neutral-700 dark:border-neutral-700">
            <button
                className="flex-1 font-bold"
                onClick="() => {
                    setShowMonthYearPanel((prev) => !prev);
                    handleDateChange({ year, month, day });
                }"
            >
                OK
            </button>
            <button
                className="flex-1 font-bold"
                onClick="() => setShowMonthYearPanel((prev) => !prev)"
            >
                Cancel
            </button>
        </div>
    </div>
</div>

{{ end }}
