<script>
    //@ts-check

$state("form-section", {
    data: {
        id: "",
        name: "section",
        label: "Section",
        description: "",
        hidden: false,
    },
    fields: [],
    initialized: false,
    active: false,
    hidden: false,
})

function init() {
    effect(() => this.active && emit("edit-section", this.state))
}
        
/** @param {CustomEvent} e */
function addField(el, e) {
    el.fields.push(e.detail.field.id);

    if (this.fieldContainer.contains(this.emptySectionElement)) {
        this.emptySectionElement.remove();
    }
}
 
/** @param {CustomEvent} e */
function removeField(el, e) {
    const id = e.detail.fieldId;
    el.fields = el.fields.filter((field) => field !== id);

    if (this.fields.length === 0) {
        this.fieldContainer.append(this.emptySectionElement);
    }
}

/** @param {DragEvent} e */
function drop(e) {
    e.preventDefault();
    e.stopPropagation();

    const target = /** @type {HTMLElement} */ (e.target);
    const templateId = /** @type {string} */ (e.dataTransfer?.getData("text/plain"));
    const elementClass = customElements.get(templateId) ?? HTMLUnknownElement
    const newEl = new elementClass();

    if (target === this.fieldContainer) {
        this.fieldContainer.appendChild(newEl);
    } else {
        const insertLocation = /** @type {InsertPosition} */ (target.dataset.insertLocation);
        target.parentElement?.insertAdjacentElement(insertLocation, newEl);
    }
}
</script>

<form-section
    on::pointerdown="emit::edit-field"
    on::delete="run::delete"
    on::add-field="run::addField"
    on::remove-field="run::removeField"
>
    <container-highlight
        component::pointerdown="add::active"
        component::pointerdown.outside="remove::active"
        component::pointerover.stop="add::hovering"
        component::pointerout.stop="remove::hovering"
        component::state-change="fieldState = $.hidden && '[Hidden]'"
        component:state-change="fieldName = $.name"
        class="block absolute inset-0 cursor-pointer transition border border-sky-500"
    ></container-highlight>
    <div>
        <h2 class="font-semibold text-2xl mb-1">[[$.label]]</h2>
        <div
            component::state-change="class::toggle(hidden, $.description === '')"
            class="col-span-full break-all"
        >
            [[$.description]]
        </div>
    </div>
    <div
        this::[pointerdown|pointerover|pointerout].stop
        this::dragover.prevent
        this::drop="run::drop"
        class="grid grid-cols-1 @[35rem]/form:grid-cols-1 gap-4"
    >
        <div
            component::[add-field|remove-field]="class::toggle(hidden, this.childElementCount > 0)"
            class="grid justify-items-center gap-3 p-6 text-base rounded bg-slate-400/10 dark:bg-white/10" 
            inert
        >
            <svg class="h-8 w-8" viewBox="0 0 494 492"><use href="#section-drag-icon" /></svg>
            <div>Drag an element here</div>
        </div>
    </div>
    <div
        component::dragstart="class::add[hidden]"
        component::dragend="class::remove[hidden]"
        class="absolute -top-4 left-0 right-0 bottom-1/2 text-xs text-white"
        insert-location="beforebegin"
    >
        <div class="absolute -top-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500" inert>
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
    <div
        component::dragstart="class::add[hidden]"
        component::dragend="class::remove[hidden]"
        class="absolute top-1/2 left-0 right-0 -bottom-4 text-xs text-white"
        data-insert-location="afterend"
    >
        <div 
            class="absolute -bottom-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500" 
            inert
        >
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
</form-section>