<script>
//@ts-check

const configuredEvents = {}
const eventMap = new WeakMap();
const eventBoundries = new WeakSet();

function registerEvent(eventType, listenerEl, handlerEl, callback, modifiers) {
    if (!configuredEvents[eventType]) {
        document.addEventListener(eventType, (event) => runEvent(event, eventType))
        configuredEvents[eventType] = true
    }

    let elEvents = eventMap.get(listenerEl)
    if (elEvents === undefined) {
        elEvents = {}
        eventMap.set(listenerEl, elEvents)
    }

    const callbacks = elEvents[eventType] ?? (elEvents[eventType] = [])
    callbacks.push(callback)
}

function runEvent(event, eventType) {
    let target = event.target;

    while (!eventBoundries.has(target) && target !== document.body) {
        const targetData = eventMap.get(target);
        const handlerData = targetData?.get(eventType);

        if (handlerData !== undefined) {
            handlerData.execute(target, event);
            if (handlerData.modifiers.stop) {
                event.stopPropagation();
                break;
            }
        }

        target = target.parentElement;
    }
}

function emit(el, eventType, data) {
    data ??= {}
    data.element = el;

    const event = new CustomEvent(eventType, { detail : data, bubbles: true, cancelable: true })
    el.dispatchEvent(event)
}

const formSection = {
    data: {
        //@ts-ignore
        id: nextSectionId(),
        name: "section",
        label: "Section",
        description: "",
        hidden: false,
    },
    fields: [],
}

/** @param {CustomEvent} e */
function addField(el, e) {
    el.fields.push(e.detail.field.id);
    
    if (this.fieldContainer.contains(this.emptySectionElement)) {
        this.emptySectionElement.remove();
    }
}
 
/** @param {CustomEvent} e */
function removeField(el, e) {
    const id = e.detail.fieldId;
    el.fields = el.fields.filter((field) => field !== id);

    if (this.fields.length === 0) {
        this.fieldContainer.append(this.emptySectionElement);
    }
}

/** @param {DragEvent} e */
function insertNewField(el, e) {
    e.preventDefault();
    e.stopPropagation();

    const target = /** @type {HTMLElement} */ (e.target);
    const templateId = /** @type {string} */ (e.dataTransfer?.getData("text/plain"));
    const elementClass = customElements.get(templateId) ?? HTMLUnknownElement
    const newEl = new elementClass();

    if (target === this.fieldContainer) {
        el.appendChild(newEl);
    } else {
        const insertLocation = /** @type {InsertPosition} */ (target.getAttribute("drop-insert-location"));
        target.parentElement?.insertAdjacentElement(insertLocation, newEl);
    }
}

register("form-section", {
    template: "",
    state: {

    },
    events: {
        pointerdown: () => emit("edit-section"),
        delete: () => deleteSection(),
        "add-field": () => addField(),
        "remove-field": () => removeField(),
        click: (e) => {
            const target = e.target.getAttribute("element-ref")
            if (target === "copy")
                this.setAttribute("show-delete-modal")
        },
        /** @param {DragEvent} e */
        dragstart: (e) => {
            const dragEvent = e.target?.getAttribute("drag-event")

            if (dragEvent == undefined) return

            e.dataTransfer?.setData("drag-event", dragEvent)
            e.dataTransfer?.setData("action", "move")
        },
        dragover: (e) => {
            const dragEvent = e.dataTransfer?.getData("drag-event");
            const dropEvent = e.target.getAttribute("drop-event");
            
            if (dragEvent == undefined || dropEvent == undefined || dragEvent !== dropEvent) return;

            e.preventDefault();
        },
        drop: (e) => {
            const dropLocation = e.target.getAttribute("drop-location");
            const dropTargetSelector = e.target.getAttribute("drop-target");

            if (dropLocation == undefined) return;

            const target = this
            if (dropTargetSelector) {
                const parts = dropTargetSelector.split(" ");

                if (parts > 1) {
                    const target = e.target.closest(dropTargetSelector);
                } else {
                    const target = this.querySelector(dropTargetSelector);
                }
            }

            target.insertAdjacentElement(dropLocation, dragElement)
        }
    }
    mount: (component) => {
        addEvent(component, "pointerdown", () => emit("edit-section", true));
        addEvent(component, "delete", this.deleteSection);
    },
    unmount: () => {

    }
})
</script>

<form-section
    draggable="move"
    drag-event="move-section"
    class="group/section relative grid gap-3 p-6 mb-8 rounded-md shadow-md bg-white dark:bg-card-dark"
>
    <div class="hidden absolute inset-0 cursor-pointer transition border border-sky-500 group-[:hover:not(:has([data-section]:hover))]:block group-[[active]]:block group-[[active]]:bg-sky-500/20">
        <div class="absolute -left-px bottom-full font-mono flex py-0.5 px-3 gap-3 text-xs text-white bg-sky-500">
            <span
                element-state="name"
                class="font-bold italic cursor-default select-none"
            ></span>
            <span
                element-state="state"
                class="opacity-80 empty:hidden"
            ></span>
        </div>
        <div class="absolute -right-px bottom-full flex gap-1">
            <button
                element-ref="copy-element"
                class="p-1 transition bg-sky-500 text-white hover:bg-sky-600"
            >
                <svg class="w-3 h-3"><use href="#copy-icon" /></svg>
            </button>
            <button
                element-ref="delete-element"
                class="p-1 transition bg-sky-500 text-white hover:bg-sky-600"
            >
                <svg class="w-3 h-3"><use href="#delete-icon" /></svg>
            </button>
        </div>
        <div class="hidden gap-4 items-center w-max p-4 absolute top-0 -right-0.5 z-50 text-sm shadow-md rounded-md bg-white border border-neutral-200 dark:bg-aux-dark dark:border-aux-dark group-[[show-copy-modal]]/highlight:grid">
            <h1>Are you sure you want to copy this element?</h1>
            <div class="flex gap-2 justify-self-end">
                <button
                    element-ref="copy-confirm"
                    class="px-3 py-1.5 rounded transition-all text-white bg-sky-500 hover:bg-sky-600 outline-sky-300/60 dark:bg-opacity-80 dark:hover:bg-opacity-70"
                >
                    Copy
                </button>
                <button
                    element-ref="copy-cancel"
                    class="px-3 py-1.5 rounded border transition-all border-neutral-200 text-neutral-600 hover:bg-neutral-100 dark:text-white/80 dark:border-[#555] dark:hover:text-white/90 dark:hover:bg-[#3e3e3e]"
                >
                    Cancel
                </button>
            </div>
        </div>
        <div class="hidden gap-4 items-center w-max p-4 absolute top-0 -right-0.5 z-50 text-sm shadow-md rounded-md bg-white border border-neutral-200 dark:bg-aux-dark dark:border-aux-dark group-[[show-delete-modal]]/highlight:grid">
            <h1>Are you sure you want to delete this element?</h1>
            <div class="flex gap-2 justify-self-end">
                <button
                    element-ref="delete-confirm"
                    class="px-3 py-1.5 rounded transition-all text-white bg-rose-500 hover:bg-rose-600 outline-rose-300/60 dark:bg-opacity-80 dark:hover:bg-opacity-70"
                >
                    Delete
                </button>
                <button
                    element-ref="delete-cancel"
                    class="px-3 py-1.5 rounded border transition-all border-neutral-200 text-neutral-600 hover:bg-neutral-100 dark:text-white/80 dark:border-[#555] dark:hover:text-white/90 dark:hover:bg-[#3e3e3e]"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div>
        <h2
            element-state="label"
            class="font-semibold text-2xl mb-1"
        ></h2>
        <div
            element-state="description"
            class="col-span-full break-all empty:hidden"
        ></div>
    </div>
    <div
        self::pointerdown.stop
        drop-event="add-field|move-field"
        drop-location="beforeend"
        class="grid grid-cols-1 @[35rem]/form:grid-cols-1 gap-4"
    >
        <div class="hidden only:grid justify-items-center gap-3 p-6 text-base rounded bg-slate-400/10 dark:bg-white/10" inert>
            <svg class="h-8 w-8" viewBox="0 0 494 492"><use href="#section-drag-icon" /></svg>
            <div>Drag an element here</div>
        </div>
    </div>
    <div
        drop-event="move-element"
        drop-location="beforebegin"
        drop-target="closest form-section"
        class="hidden group-[[moving]]/section:block absolute -top-4 left-0 right-0 bottom-1/2 text-xs text-white"
    >
        <div class="absolute -top-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500" inert>
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
    <div
        drop-event="move-section"
        drop-location="afterend"
        drop-target="closest form-section"
        class="hidden group-[[moving]]/section:block absolute top-1/2 left-0 right-0 -bottom-4 text-xs text-white"
    >
        <div class="absolute -bottom-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500" inert>
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
</form-section>
