<script>
    //@ts-check

const formSection = {
    data: {
        id: "",
        name: "section",
        label: "Section",
        description: "",
        hidden: false,
    },
    fields: [],
    initialized: false,
    active: false,
    hidden: false,
}
        
/** @param {CustomEvent} e */
function addField(el, e) {
    el.fields.push(e.detail.field.id);
    
    if (this.fieldContainer.contains(this.emptySectionElement)) {
        this.emptySectionElement.remove();
    }
}
 
/** @param {CustomEvent} e */
function removeField(el, e) {
    const id = e.detail.fieldId;
    el.fields = el.fields.filter((field) => field !== id);

    if (this.fields.length === 0) {
        this.fieldContainer.append(this.emptySectionElement);
    }
}

/** @param {DragEvent} e */
function drop(e) {
    e.preventDefault();
    e.stopPropagation();

    const target = /** @type {HTMLElement} */ (e.target);
    const templateId = /** @type {string} */ (e.dataTransfer?.getData("text/plain"));
    const elementClass = customElements.get(templateId) ?? HTMLUnknownElement
    const newEl = new elementClass();

    if (target === this.fieldContainer) {
        this.fieldContainer.appendChild(newEl);
    } else {
        const insertLocation = /** @type {InsertPosition} */ (target.dataset.insertLocation);
        target.parentElement?.insertAdjacentElement(insertLocation, newEl);
    }
}
</script>

<form-section
    &::pointerdown::emit(edit-field)
    &::delete::run(delete)
    &::add-field::run(addField)
    &::remove-field::run(removeField)
>
    <container-highlight
        $::pointerdown::@active.add
        $::pointerdown.outside::@active.remove
        $::pointerover.stop::@hovering.add
        $::pointerout.stop::@hovering.remove
        $::state-change[hidden]::@field-state.toggle(#value::equals(true))="[Hidden]"
        $::state-change[name]::@field-name.set(#value)
        class="block absolute inset-0 cursor-pointer transition border border-sky-500"
    ></container-highlight>
    <div>
        <h2 class="font-semibold text-2xl mb-1">[[ $::state-change[label]::set(#value) ]]</h2>
        <div
            $::state-change[description]::class[hidden].toggle(#value::empty)
            $::state-change[description]::textContent.set(#value)
            class="col-span-full break-all"
        >
            [[ $::state-change[description]::set(#value) ]]
        </div>
    </div>
    <div
        &::[pointerdown|pointerover|pointerout].stop
        &::dragover.prevent
        &::drop::run[drop]
        class="grid grid-cols-1 @[35rem]/form:grid-cols-1 gap-4"
    >
        <div
            $::[add-field|remove-field]::class[hidden].toggle(children.length::greater(0))
            class="grid justify-items-center gap-3 p-6 text-base rounded bg-slate-400/10 dark:bg-white/10" 
            inert
        >
            <svg class="h-8 w-8" viewBox="0 0 494 492"><use href="#section-drag-icon" /></svg>
            <div>Drag an element here</div>
        </div>
    </div>
    <div
        $::dragstart::class[hidden].remove(target::not-equals($))
        $::dragend::class[hidden].add
        class="hidden absolute -top-4 left-0 right-0 bottom-1/2 text-xs text-white"
        insert-location="beforebegin"
    >
        <div class="absolute -top-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500" inert>
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
    <div
        $::dragstart::{target::not-equals($)}::class.remove(hidden)
        $::dragend::{target::not-equals($)}::class.add(hidden)
        class="hidden absolute top-1/2 left-0 right-0 -bottom-4 text-xs text-white"
        data-insert-location="afterend"
    >
        <div 
            class="absolute -bottom-0.5 -right-1 -left-1 flex justify-center h-1 rounded-full bg-sky-500"
            inert
        >
            <div class="absolute top-1/2 -translate-y-1/2 px-2 pb-0.5 rounded-full bg-sky-500">
                Drop Item Here
            </div>
        </div>
    </div>
</form-section>