{{ define "text_field" }}
<template id="text">
    <div
        @click.stop
        x-data="{
            data: initField('text'),
            remove() {
                removeElement($el);
                removeFieldData(this.data.id);
            },
        }"
        :id="data.id"
        form-field="text"
        class="p-2.5 rounded"
    >
        <div class="flex items-center justify-between mb-1 text-xs text-neutral-500 dark:text-white/60">
            <div class="font-mono flex gap-3">
                <span class="font-bold italic cursor-default select-none">Text Field</span>
                <span
                    x-show="data.hidden || data.readonly"
                    x-text="data.hidden ? '[Hidden]' : data.readonly ? '[Readonly]' : ''"
                    class="text-neutral-400 dark:text-white/40"
                ></span>
            </div>
            {{ template "field_icons" }}
        </div>
        <div
            :class="{ 'opacity-50': data.hidden, 'grid-cols-[3fr_4fr]': data.layout === 'inline'  }"
            class="grid gap-1 w-full items-center"
        >
            <div class="flex gap-1 items-center">
                <label x-text="data.label" :for="data.id" class="font-medium select-none" dd-label="Text Field"></label>
                <span x-show="data.required" class="leading-4 font-semibold text-rose-500">*</span>
            </div>
            {{ if . eq "text" }} {{ template "text_input" }} {{ else if . eq "number" }} {{ template "number_input" }}
            {{ else if . eq "select" }} {{ template "select_input" }} {{ else if . eq "date" }} {{ template "date_input"
            }} {{ end }}
            <!-- <input
                :id="data.id"
                :value="data.defaultValue ? data.defaultValue : ''"
                :placeholder="data.placeholder"
                :readonly="data.readonly || data.hidden"
                @change="$el.value = data.defaultValue ? data.defaultValue : ''"
                type="text"
            /> -->
        </div>
    </div>
</template>
{{ end }} {{ define "text_input" }}
<input
    :id="data.id"
    :value="data.defaultValue ? data.defaultValue : ''"
    :placeholder="data.placeholder"
    :readonly="data.readonly || data.hidden"
    @change="$el.value = data.defaultValue ? data.defaultValue : ''"
    type="text"
/>
{{ end }} {{ define "number_input" }}
<input
    :id="data.id"
    :value="data.defaultValue ? data.defaultValue : ''"
    :placeholder="data.placeholder"
    :readonly="data.readonly || data.hidden"
    @change="$el.value = data.defaultValue ? data.defaultValue : ''"
    type="text"
/>
{{ end }} {{ define "select_input" }}
<input
    :id="data.id"
    :value="data.defaultValue ? data.defaultValue : ''"
    :placeholder="data.placeholder"
    :readonly="data.readonly || data.hidden"
    @change="$el.value = data.defaultValue ? data.defaultValue : ''"
    type="text"
/>
{{ end }} {{ define "date_input" }}
<input
    :id="data.id"
    :value="data.defaultValue ? data.defaultValue : ''"
    :placeholder="data.placeholder"
    :readonly="data.readonly || data.hidden"
    @change="$el.value = data.defaultValue ? data.defaultValue : ''"
    type="text"
/>
{{ end }}
